{% assign socials = site.socials | default: site.data.theme.socials | default: [] %}
<footer>
    <span class="copyright">
        &copy; {{ "now" | date: "%Y" }} {{ site.author.name | default: site.title }}. 
        <span>Powered by 
            <!-- Dotfolio Theme Licensing. Please do not remove. -->
            <a href="https://jennieablog.dev/dotfolio-theme" class="link">Dotfolio</a>.
            <!-- Dotfolio Theme Licensing. Please do not remove. -->
        </span>
    </span>
    <span class="social-links">
        {% for social in socials %}
        <a href="{{ social.url }}" target="_blank" rel="noopener noreferrer" aria-label="{{ social.name }}">
            <img src="{{ social.icon | relative_url }}" alt="{{ social.name }} icon" class="social-icon">
        </a>
        {% endfor %}
    </span>
  </footer>