<head>
  <title>{{ site.title | default:theme.title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta name="description"
    content="{{ site.description | default:theme.description }}">

  <link rel="shortcut icon" type="image/png" href="{{ "/assets/images/favicon.ico" | relative_url }}">

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

  <!-- Theme Switcher -->
  <script type="text/javascript" src="{{ "/assets/js/theme-switcher.js" | relative_url }}"></script>

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
  
  <!-- Syntax Highlighting -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism-themes/1.9.0/prism-z-touch.min.css" integrity="sha512-jKE5T4m8QJxKToppzWRCpDiNMtT6gLX/B2qUuP8UDg6oD/WsIujH2AkUud8HaS7nvK6SCOkjBWGZ/ed7xRbcXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdn.jsdelivr.net/npm/prismjs/prism.js"></script>
</head>