{% assign hero = site.hero | default: site.data.theme.hero | default: [] %}
{% assign tools = site.tools | default: site.data.theme.tools | default: [] %}
<section class="hero">
  <div class="nametag">
    <img src="{{"/assets/images/profile.jpg" | relative_url }}" alt="{{ hero.name }}"
      class="nametag-avatar" />
    <div>
      <h1 class="nametag-greeting">Hello, I'm <span
          class="nametag-name">{{ hero.name }}</span>.</h1>
      <p class="nametag-description">
        A <span class="nametag-jobtitle">{{ hero.title }}</span> 
        based in {{ hero.location }}.
      </p>
    </div>
  </div>

  <p class="bio">
    {{ hero.bio }}
  </p>

  <p class="tools">Tech Stack & Tools</p>
  <ul>
    {% for tool in tools %}
    <li>
      <div>
        <img src="{{ tool.icon | relative_url }}" alt="{{ tool.name }} icon" class="icon">
      </div>
      <p>{{ tool.name }}</p>
    </li>
    {% endfor %}
  </ul>
</section>