{% assign projects = site.projects | default: site.data.theme.projects | default: [] %}
{% assign headings = site.headings | default: site.data.theme.headings | default: [] %}
<section class="projects">
  <h2 class="heading">{{ headings.projects.heading | default:headings.projects.heading }}</h2>
  <p class="subheading">{{ headings.projects.subheading | default:headings.projects.subheading }}</p>

  <div class="project-grid">
    {% for project in projects %}
    <a href="https://{{ project.link }}" target="_blank" rel="noopener noreferrer"
      class="clickable-area">
      <div class="card">
        <!-- Image Wrapper with Padding -->
        <div class="image-container">
          <img src="{{ project.image }}" alt="{{ project.title }}"/>
        </div>

        <!-- Content -->
        <div class="content-container">
          <h3 class="title">{{ project.title }}</h3>
          <p class="description">{{ project.description }}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>

  <!-- Show More Button -->
  <div class="more">
    <a href="{{ headings.projects.more.link }}" target="_blank">
      {{ headings.projects.more.label | default:headings.projects.more.label }}
      <svg fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
      </svg>
    </a>
  </div>
</section>