{% assign posts = site.posts | default: [] %}
{% assign headings = site.headings | default: site.data.theme.headings | default: [] %}

<!-- Recent Posts -->
<section class="notes">
  <h2 class="heading">{{ headings.notes.heading | default:headings.notes.heading }}</h2>
  <p class="subheading">{{ headings.notes.subheading | default:headings.notes.subheading }}</p>

  <ul>
    {% for post in posts limit:3 %}
    <li>
      <h3 class="title">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h3>
      <p class="excerpt">
        {{ post.excerpt | strip_html | truncate: 160 }}
      </p>
      <small>{{ post.date | date: "%B %-d, %Y" }}</small>
    </li>
    {% endfor %}
  </ul>

  <!-- Notes Button -->
  <div class="more">
    <a href="/notes">
      {{ headings.notes.more.label | default:headings.notes.more.label }}
      <svg fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
      </svg>
    </a>
  </div>
</section>