{% assign tools = site.tools | default: site.data.theme.tools | default: [] %}
<section>
  <p class="mb-4 text-center uppercase text-xs font-medium">Tech Stack & Tools</p>
  <ul class="flex flex-wrap justify-center">
    {% for tool in tools %}
    <li class="mx-2 md:mx-3 my-3">
      <div class="flex justify-center cursor-pointer">
        <img src="{{ tool.icon | relative_url }}" alt="{{ tool.name }} icon" class="w-10 h-auto opacity-75 dark:opacity-100">
      </div>
      <p class="pt-2 text-xs text-center">{{ tool.name }}</p>
    </li>
    {% endfor %}
  </ul>

  <div class="mt-10">
    <a href="/about" class="inline-flex items-center text-blue-500 dark:text-blue-300">
      About me
      <svg class="w-5 h-5 ml-2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
      </svg>
    </a>
  </div>
</section>